@font-face {
    font-family: 'Ringbearer';
    src: url('./font/RingbearerMedium-51mgZ.ttf');
}

h1 {
    font-family: 'Ringbearer';
    font-size: 3rem;
    font-weight: 100;
    text-align: center;
}

input {
    padding: 0.2rem 0.3rem;
    border-radius: 4px;
}

button {
    border-radius: 8px;
    padding: 5px;
    cursor: pointer;
}

.game {
    width: 80vw;
    height: 68vh;
    padding: 3rem;
    background-color: #e5eef7;
    border-radius: 1rem;
    margin: auto;
    text-align: center;
    border: solid 4px rgb(162, 195, 216);
    align-items: center;
}

.dice {
    width: 5rem;
    height: 5rem;
}

.avatar {
    border-radius: 10rem;
    height: 8rem;
    width: 8rem;
    
}


.card {
    display: inline-block;
    margin: 0 3rem;
    padding: 1rem;
    width: 20rem;
    height: 19rem;
}

.card button {
    display:none;
}

.vs {
    width: 15rem;
    padding-bottom: 3rem;

}

.current {
    border-radius: 10px;
    background-color: #97b0c8;
}

.current button {
    display: inline;
}